* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #60a8f0;
    color: black;
    padding: 1.5rem;
    text-align: center;
}

.main-content {
    flex-grow: 1;
    padding: 2rem;
    background-color: #b0d7ff;
}

/* Contenedor principal del header */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #60a8f0;
    color: black;
    padding: 1rem 2rem;
}

/* Los contenedores de los lados (izquierdo y derecho) */
.header-side {
    flex: 1;
    display: flex;
}

/* Asegura que el logo se pegue a la izquierda */
.header-side.left {
    justify-content: flex-start;
}

/* Estilos opcionales para que el logo se vea bien */
.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

/* El título en el centro */
.header-title {
    text-align: center;
    margin: 0;
}

.logo-img {
    height: 80px;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
}